<section id="about_team">
    <div class="container">
        <div class="row">


            <div class="col-lg-offset-1 col-lg-10 text-center">
                <h2 class="section-heading">Who's Behind Rhizal?</h2>
                <p>Rhizal is an <a href="https://github.com/davidgljay/rhizal">open source project</a> of <a href="https://relationalitylab.org">Relationality Lab.</a></p>
                <p>It is an experiment in helping people who build community better understand and connect with the people they serve.</p>
                <p>It is currently in alpha and is available by invitation only.</p>
                <p>Becuase Rhizal is still in early development it should not yet be considered secure, and should be used for light experimentation only.</p>
                <p>To follow our work or see if you're eligible for an invitation,</br> please <a href="https://signal.me/#eu/KfDzAhXoUfD7SnvWdrT5VKo68i0FWEU3GlkPsFiCETlJT-kL_6FIMqImOBqZSSg7">send a Signal message to @rhizal.71</a></p>
            </div>
        </div>
    </div>
</section>
