<section class="bg-primary" id="about_book">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 text-left text-white">
                <h2 class="section-heading text-white text-center">About The Book</h2>
                <hr class="light">
                <p>In <i>Relationality</i>, veteran movement organizer David Jay equips professionals, activists, and community organizers with
                    the knowledge they need to fight for resources and build organizational cultures
                    that center the work of building relationships. It includes:</p>
                    
                    <ul>
                        <li>A history of why so many institutions fail to invest in relationships</li>
                        <li>A call to repair lineages of relational wisdom that have been
                            extracted from and forgotten</li>
                        <li>A guide to creating the conditions for relationship that draws
                            from both scientific research and established organizing practice</li>
                        <li>A framework for those who want to drive investment in
                            relational impact</li>
                    </ul>
                        
                <p>With isolation and loneliness on the rise, <i>Relationality</i> offers a roadmap toward a world of abundant connection: one where individuals, organizations, and democratic societies know how to invest in the relationships they need to thrive.</p> 
            </div>
        </div>
    </div>
</section>
