<section id="author">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Author</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row mt-60">
          <div class="col-lg-6 text-center">
            <img class="author-photo mb-40" src="./img/author_photo.jpeg" alt="A photo of a white man in his 40s wearing a blue shirt"/>
          </div>
          <div class="col-lg-6">
            <p class="text-muted">David Jay has spent his life building relationships that lead to collective care and collective power. From founding the Asexual Visibility and Education Network to working in the heart of the tech reform movement, David has centered the work of building relationship as a tool for healing and driving social change. His research and writing centers on the reasons why these important relational tools so often go underappreciated and underfunded and on how that reality might change. David is regularly invited to speak at conferences and universities on topics ranging from asexuality to movement organizing to tech reform to queer family structure. David lives with his two co-parents and two children in Oakland, California.</p>

          </div>
        </div>
    </div>
</section>
