<div class="page_header_img"></div>
<section id="organizing" class="bg-primary">
    <div class="container">
        <div class="row text-center text-white col-lg-10 col-lg-offset-1">
            <h2>Book Clubs</h2>
            <hr class="light">
            <div class="text-left">
                <p>Are you reading <i>Relationality</i> with a group? Thank you for taking the time to dive into the rich conversation that this book offers. The author would be happy to join a conversation with your book club or workplace if possible.</p>
                <p>Please fill out the form below to get in touch.</p>
                <div id="organizingArea" class="row col-lg-10 col-lg-offset-1 text-center">
                    <form id="organizingForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-lg-offset-1">
                                <input type="email" class="form-control" name="email" placeholder="Email" data-umami-event="email-enter">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-lg-offset-1">
                                <input type="text" class="form-control" name="firstname" placeholder="First name">
                                </div>
                                <div class="col-lg-5">
                                <input type="text" class="form-control" name="lastname"  placeholder="Last name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-lg-offset-1">
                                <input type="text" class="form-control" name="organization"  placeholder="Organization (Optional)">
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="location"  placeholder="Location (Optional)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <textarea class="form-control" name="comment" placeholder="Message (Optional)"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <input type="hidden" name="bookclub" value="true">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-green" data-umami-event="contact-click">Register</button>
                </div>
                </form>
            </div>
        <div id="organizingThanks" style="display:none" class="col-lg-10 col-lg-offset-1 text-center">
            <h2 class="section-heading text-white">Thanks!</h2>
            <hr class="light">
            <div class="text-white">I'll be in touch shortly.</div>
        </div>
    </div>
</section>
                    