<section class="bg-primary" id="connect_threads">
    <div class="container ">
        <div class="row d-flex flex-row-reverse flex-md-row">
            <div class="col-lg-4 text-center">
                <img class="feature-image" src="./img/connect_threads.png" alt="Two phones with arrows connecting them"/>
            </div>
            <div class="col-lg-8 text-white text-right">
                <h2 class="section-heading text-white text-small">Connect Group Threads</h2>
                <p>With Rhizal, group threads can message one another using hashtags.</p>
                <p>Say your community has a group thread for Boston and one for NYC.</p>
                <p>Anyone in the Boston thread can send a message to the NYC thread by including #nyc in a message.</p>
                <p>This lets you have many focused, secure conversations rather than one large, overwhelming conversation.</p>
                <p></p>
            </div>

        </div>
    </div>
</section>
