<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <div class="text-left">
                    <p>For press inquiries, please contact: <a href="mailto:press@relationalitybook.com">press@relationalitybook.com</a></p>
                    <p>For speaking inquiries, please contact: <a href="mailto:speaking@relatioanlitybook.com">speaking@relationalitybook.com</a></p>
                    <p>For support with your organization's relational impact reporting, please see <a href="https://relationalitylab.org">Relationality Lab</a>.</p>
                    <p>For all other requests, please contact: <a href="mailto:speaking@relatioanlitybook.com">hello@relationalitybook.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
