<section class="bg-primary" id="connect_threads">
    <div class="container">
        <div class="row d-flex flex-row-reverse">
            <div class="col-lg-4 text-center"><img class="feature-image" src="./img/data.png" alt="A dollar bill flowing into a phone"/></div>
            <div class="col-lg-8 text-left text-white text-left">
                <h2 class="section-heading text-white text-small">Collect Stories and Data</h2>
                <p>With Rhizal, you can ask engaging questions to your community about the connections they are forming and the ways that they are caring for one another.</p>
                <p>Compared to longer surveys, these short chat engagements have a much higher response rate.</p>
                <p>This creates a powerful way to understand what is happening in your community and report on impact.</p>
            </div>
        </div>
    </div>
</section>
