<section class="bg-primary" id="connect_threads">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 text-left text-white text-right">
                <h2 class="section-heading text-white text-small">Invite Them To Events</h2>
                <p>With Rhizal, it's easy to invite your community to events.</p>
                <p>They can RSVP by saying "yes" to the invite.</p>
                <p>When they do, they'll get a calendar invitation.</p>
                <p>This easy discover and registration process means more people will know what's happening and show up.</p>
            </div>
            <div class="col-lg-2"><img class="feature-image" src="./img/events.png" alt="Two phones with arrows connecting them"/></div>
        </div>
    </div>
</section>
