<section class="bg-primary" id="connect_threads">
    <div class="container">
        <div class="row d-flex flex-row-reverse">
            <div class="col-lg-4 text-center">
                <img class="feature-image" src="./img/events.png" alt="A phone with tickets coming out of it"/>
            </div>
            <div class="col-lg-8 text-white text-right">
                <h2 class="section-heading text-white text-small">Invite Them To Events</h2>
                <p>With Rhizal, it's easy to invite your community to events.</p>
                <p>They can RSVP by saying "yes" to the invite.</p>
                <p>When they do, they'll get a calendar invitation.</p>
                <p>This easy discovery and registration process means more people will know what's happening and show up.</p>
            </div>


        </div>
    </div>
</section>
