<section class="bg-primary" id="connect_threads">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"><img class="feature-image" src="./img/fundraising.png" alt="Two phones with arrows connecting them"/></div>
            <div class="col-lg-8 text-left text-white text-left">
                <h2 class="section-heading text-white text-small">Raise Funds</h2>
                <p>With Rhizal, you can message your invite your most engaged members to contribute at exactly the right moment.</p>
                <p>Compared to community-wide asks over SMS and Email, these targeted asks have a much higher conversion rate.</p>
                <p>This means that you can mobilize more resources while building trust.</p>
            </div>
        </div>
    </div>
</section>
