<header>
      <div class="header-content mt-60">
        <div class="col-lg-6"><img src="/img/book_mockup.png" alt="Several copies of the book 'Relationality'"/></div>
        
        <div class="col-lg-5 text-primary text-left">
          <h2 class="text-grey text-center mb-40">Building paths out of loneliness heals our bodies, unlocks our creativity, and builds collective power that our world desperately needs.</h2>
          <h3><i>“At once radical and sensible, with the potential to mitigate
            a great deal of sadness and pain.”</i></h3>
          <div class="text-right attribution-text">
            <span>— <i>ANDREW SOLOMON</i> author of Far From the Tree</span>
          </div>
          <h3 class="mt-40"><i>“A clear-eyed telling of what happens when we invest in relational
            containers—and the consequences when we don’t.””</i></h3>
          <div class="text-right attribution-text">
            <span>—<i>LENNON FLOWERS</i> co-founder and executive director of The Dinner Party</span>
          </div>
          <div class="mt-40 text-left">
            <p style="font-size:20px;"><i>Relationality</i> is a call to invest in the transformative 
              and structurally undervalued work of enabling human connection. Grounded in foundational 
              scientific principles and movement organizing practice, Relationality explores how we 
              create the conditions for relationship, why this work receives to little investment, and 
              how learning to invest in relational work could radically transform our lives and our world.
          </p>
          <p style="font-size:20px;"><i>Relationality</i> is available now from <a href="https://www.northatlanticbooks.com/">North Atlantic Books</a> wherever books are sold.</p>
          </div>
          <h2 id="order" class="text-center">Order Now</h2>
          <div class="text-center">
              <a href="https://bookshop.org/p/books/relationality-a-framework-for-shaping-our-world-through-connection-from-personal-bonds-to-social-movements-david-jay/20916011?ean=9798889840541" target="_blank" class="btn btn-green" data-umami-event="paperback-click">Paperback</a>
              <a href="https://libro.fm/audiobooks/9798889841838-relationality" target="_blank" class="btn btn-green" data-umami-event="audio-click">Audiobook</a> <br/>
              <a href="https://www.amazon.com/gp/product/B0CP3G4WH8?tag=randohouseinc7986-20" target="_blank" class="btn btn-green" data-umami-event="kindle-click">Amazon</a>
              <a href="https://books.apple.com/us/book/relationality/id6473226578" target="_blank" class="btn btn-green" data-umami-event="apple-click">Apple Books</a>   
              <a href="https://play.google.com/store/books/details?id=mr3lEAAAQBAJ" target="_blank" class="btn btn-green" data-umami-event="gplay-click">Google Play</a>       
              <a href="https://www.kobo.com/us/en/ebook/relationality-6" target="_blank" class="btn btn-green" data-umami-event="kobo-click">Kobo</a>                                        

        </div>

    </div>
</header>
