<header>
      <div class="header-content mt-60">
        <div class="col-lg-6"><img src="./img/rhizal_logo.png" alt="Rhizal Logo"/></div>
        
        <div class="col-lg-5 text-primary text-left">
          <h1>Rhizal</h1>
          <h2>A lightweight tool for building community on Signal and WhatsApp.</h2>
          <div class="mt-40 text-left">
          <h2><b>Try It Out</b></h2>
          <h2><a href="https://signal.me/#eu/KfDzAhXoUfD7SnvWdrT5VKo68i0FWEU3GlkPsFiCETlJT-kL_6FIMqImOBqZSSg7">Send a Signal message to @rhizal.71</a></h2>
          <h2><b>Or Sign Up For Our Alpha</b></h2>
          {% include signup.html %}
        </div>

    </div>
</header>
