<section class="bg-primary" id="connect_threads">
    <div class="container">
        <div class="row d-flex flex-md-row">
            <div class="col-lg-4 text-center"><img class="feature-image" src="./img/onboarding.png" alt="A phone with an image of a waving hand"/></div>
            <div class="col-lg-8 text-left text-white text-left">
                <h2 class="section-heading text-white text-small">Onboard New Members</h2>
                <p>With Rhizal, you can easily set up scripts to welcome people to your community with a message or a video.</p>
                <p>As they join, you can ask them questions to learn more about them.</p>
                <p>Once they've joined, it's easy to send them a personalized welcome.</p>
                <p>Data collected during onboarding is stored securely, and can easily be stored on servers you control.</p>
            </div>
        </div>
    </div>
</section>
