
<section id="events" class="bg-primary">
    <div class="container">
        <div class="row text-center text-white col-lg-10 col-lg-offset-1">
            <h2>Events</h2>
            <hr class="light">
            <div class="text-left">
                <p>We need to invest in the work of building relationship, both in our own lives and within our most powerful institutions, if we are to stave off the lonliness crisis and resist a backsliding of our democracy.</p>
                <p>That's why we will be partnering with the <a href="https://www.modernfamilyinstitute.org/" target="_blank">Modern Family Institute</a> to host a conversation series on building communities of care. Every month we'll hear from inspiring leaders, then break into groups to discuss our own journeys to nurture collective care in our lives.</p>
                <p>The next event will take place on March 25th, 2025 at 5PM ET/8PM PT. </p>
                <p>You can <a href="https://lu.ma/l04vkhel" target="_blank">RSVP here</a>.</p>
                <p>If you would like to be notified about future events, please sign up below:</p>
            </div>
        </div>
        <div id="organizingArea" class="row col-lg-10 col-lg-offset-1 text-center"">
            <form id="organizingForm"  >
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                        <input type="email" class="form-control" name="email" placeholder="Email" data-umami-event="email-enter">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                        <input type="text" class="form-control" name="firstname" placeholder="First name">
                        </div>
                        <div class="col-lg-5">
                        <input type="text" class="form-control" name="lastname"  placeholder="Last name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                        <input type="text" class="form-control" name="organization"  placeholder="Organization (Optional)">
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="role"  placeholder="Role (Optional)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <textarea class="form-control" name="comment" placeholder="Message (Optional)"></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="bookclub" value="false">
                <button type="submit" class="btn btn-green" data-umami-event="contact-click">Register</button>
        </div>
        </form>
        </div>
        <div id="organizingThanks" style="display:none" class="col-lg-10 col-lg-offset-1 text-center">
            <h2 class="section-heading text-white">Thanks!</h2>
            <hr class="light">
            <div class="text-white">We'll send you information about upcoming events shortly.</div>
        </div>
    </div>
</section>

